In [8]:
import pandas as pd
import koreanize_matplotlib
import matplotlib.pyplot as plt
import os
import yaml

In [23]:
with open("./dataset/data.yaml", "r") as f:
    names=yaml.load(f, Loader=yaml.FullLoader)['names']
names

['FallWarm', 'SpringWarm', 'SummerCool', 'WinterCool']

## 이미지 수

In [14]:
data={}
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    data[folder]=len(os.listdir(f'dataset/{folder}/images'))
df=pd.DataFrame(data.items(),columns=['폴더','갯수'])
df

      폴더    갯수
0   test   122
1  train  2037
2  valid   342

## 클래스별 데이터 갯수

In [27]:
data=[]
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    for label in os.listdir(f'dataset/{folder}/labels'):
        path=f'dataset/{folder}/labels/{label}'
        with open(path,'r') as f:
            lines=f.readlines()
            for line in lines:
                data.append(int(line.split(' ')[0]))
df=pd.DataFrame({'클래스 번호':data,'데이터 개수':[1]*len(data)})
df['계절']=df['클래스 번호'].apply(lambda x: names[x])
del df['클래스 번호']
df=df.groupby('계절').sum().reset_index()
df

           계절  데이터 개수
0    FallWarm     610
1  SpringWarm     587
2  SummerCool     603
3  WinterCool     700

In [ ]:
from ultralytics import YOLO

model = YOLO("yolo11n.pt")

def callback_function():
    pass

model.add_callback("on_pretrain_routine_start", callback_function)
# See docs page on callbacks https://docs.ultralytics.com/usage/callbacks/ for more information

           계절  데이터 개수
0    FallWarm     610
1  SpringWarm     587
2  SummerCool     603
3  WinterCool     700