In [ ]:
%pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Requirement already satisfied: numpy>=1.26.0 in /usr/lib/python3/dist-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3/dist-packages (from pandas) (2.9.0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Downloading pandas-2.3.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 23.2 MB/s eta 0:00:00 0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.3.1 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import os
import yaml

In [3]:
with open("./dataset/data.yaml", "r") as f:
    names=yaml.load(f, Loader=yaml.FullLoader)['names']
names

['FallWarm', 'SpringWarm', 'SummerCool', 'WinterCool']

## 이미지 수

In [6]:
data={}
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    data[folder]=len(os.listdir(f'dataset/{folder}/images'))
df=pd.DataFrame(data.items(),columns=['폴더','갯수'])
df

      폴더    갯수
0  valid   291
1  train  1865
2   test    98

## 클래스별 데이터 갯수

In [7]:
data=[]
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    for label in os.listdir(f'dataset/{folder}/labels'):
        path=f'dataset/{folder}/labels/{label}'
        with open(path,'r') as f:
            lines=f.readlines()
            for line in lines:
                data.append(int(line.split(' ')[0]))
df=pd.DataFrame({'클래스 번호':data,'데이터 개수':[1]*len(data)})
df['계절']=df['클래스 번호'].apply(lambda x: names[x])
del df['클래스 번호']
df=df.groupby('계절').sum().reset_index()
df

           계절  데이터 개수
0    fallWarm     548
1  springWarm     529
2  summerCool     547
3  winterCool     629

# 데이터 증강(34배 증가)

## 이미지 수

In [4]:
data={}
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    data[folder]=len(os.listdir(f'dataset/{folder}/images'))
df=pd.DataFrame(data.items(),columns=['폴더','갯수'])
df

      폴더     갯수
0   test   3332
1  valid   9894
2  train  63410

## 클래스별 데이터 갯수

In [5]:
data=[]
folders=list(filter(lambda x: "." not in x, os.listdir("dataset")))
for folder in folders:
    for label in os.listdir(f'dataset/{folder}/labels'):
        path=f'dataset/{folder}/labels/{label}'
        with open(path,'r') as f:
            lines=f.readlines()
            for line in lines:
                data.append(int(line.split(' ')[0]))
df=pd.DataFrame({'클래스 번호':data,'데이터 개수':[1]*len(data)})
df['계절']=df['클래스 번호'].apply(lambda x: names[x])
del df['클래스 번호']
df=df.groupby('계절').sum().reset_index()
df

           계절  데이터 개수
0    FallWarm   18632
1  SpringWarm   17986
2  SummerCool   18598
3  WinterCool   21386